#info-block section {
  border: 2px solid black;
  height: 400px;
  margin-top: 20px;
margin-left:25px ;
}
#info-block2 section {
  border: 2px solid black;
  height: 250px;
  margin-top: 20px;
  width: 400px;
}
.file-marker > div {
  padding: 0 3px;
  height: 100px;
  margin-top: -0.8em;

}
.box-title {
  background: white none repeat scroll 0 0;
  display: inline-block;
  padding: 0 2px;
  margin-left: 8em;
  margin-bottom: 10px;
}
td{
  margin-bottom: 20px;
}
#boutton{
  margin: 10px 10px 10px 10px;
}
